# Database Connection URL (PostgreSQL)
DATABASE_URL="postgresql://odoo_hrms_db_user:rQK9Rvrbud7lW6RkO6RIpc8rQlBGfqdD@dpg-da4j7ec9v7es738br51g-a/odoo_hrms_db"

# NextAuth Configuration
NEXTAUTH_SECRET="odoo-hackathon-secret-key-super-secure-32chars"
NEXTAUTH_URL="http://localhost:3000"
