# dependencies
node_modules/
.pnp
.pnp.*

# Next.js
.next/
out/
build/
dist/

# Environment
.env
.env*.local
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Database & Uploads
prisma/dev.db
prisma/dev.db-journal

# IDE & OS
.DS_Store
*.pem
.vscode/
.idea/
*.tsbuildinfo
next-env.d.ts
